html {
    scroll-behavior: smooth;
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    height: 90vh;
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: center;
}

#hero::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color: $brand-blue, $alpha: 0.6);
    z-index: 10;
}

#hero .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/45-degree-fabric-dark.png);
    z-index: 15;
}

#hero video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

#hero .caption {
    position: relative;
    z-index: 20;
    text-align: center;
    color: white;
}

.navbar {
    background-color: transparent;
}

.navbar-item {
    color: $brand-light;
    font-weight: 700;
    font-style: italic;
    margin-right: 30px;
}

a.navbar-item:hover {
    color: $brand-yellow;
}

.navbar img {
    background-color: $brand-light;
    padding: 15px;
    border-radius: 4px;
}

.navbar-item img {
    @media (min-width: $tablet) { 
        max-height: 6rem;
    }   
}

.navbar-item img {
    @media (max-width: $tablet) { 
        max-height: 5rem;
    }   
}

.navbar-burger {
    color: #ffffff;
}

.navbar-menu.is-active {
    background-color: $brand-blue;
    text-align: center;
    padding: 25px 100px;
    position: absolute;
    width: 100%;    
    transition: all 4s ease-in-out;

    animation-name: menu-ease;
    animation-duration: .3s;
}

@keyframes menu-ease {
    from {opacity: 0;}
    to {opacity: 1;}
  }

a.navbar-item:focus, a.navbar-item:focus-within, 
a.navbar-item:hover, a.navbar-item.is-active, 
.navbar-link:focus, .navbar-link:focus-within, 
.navbar-link:hover, .navbar-link.is-active {
    background-color: transparent;
    color: $brand-yellow;
}

.text-light {
    color: $brand-light;
}

.text-colored {
    color: $brand-yellow;
}

.text-home {
    @media (min-width: $tablet) { 
        font-size: 1.6rem;
    }    
}

.text-home { 
    @media (min-width: 320px) and (max-width: $tablet) { 
        font-size: 1.2rem;
    }
}

.headline {
    font-size: 3.2rem;
    font-weight: bold;
    font-style: italic;
}

.headline {
    @media (min-width: 320px) and (max-width: $tablet) { 
        font-size: 2.5rem;
    }
}

.subheadline {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.subheadline {
    @media (min-width: 320px) and (max-width: $tablet) { 
        font-size: 1.8rem;
    }
}

.main-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
}

.main-text {
    @media (min-width: 320px) and (max-width: $tablet) { 
        font-weight: 600;
    }    
}

/* Margins & Paddings START */

.mx-6 {
    @media (min-width: 320px) and (max-width: 600px) { 
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
}

.ml-6-desktop {
    @media (min-width: $desktop) { 
        margin-left: 3rem;
    }    
}

.mt-6-mobile {
    @media (max-width: 600px) and (max-width:  $tablet) { 
        margin-top: 6rem !important;
    } 
}

.px-6-mobile {
    @media (max-width: 320px) and (max-width:  $desktop) { 
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    } 
}

/* Margins & Paddings ENDS */

/* Logo parts left bar STARTS */
.logo-part1 {
    padding: 40px;
    width: 80px;
    height: 80px;
    background-color: $brand-yellow;
    border-radius: 50px;
}

.logo-part1, .logo-part2, .logo-part3 {
    @media (max-width: $desktop) { 
         display: none;
    }
}

.logo-part2 {
    width: 80px;
    height: 100%;
}

.logo-part3 {
    height: 80px;
    padding-right: 19.20px;
    padding-left: 19.20px;
}

/* Logo parts left bar ENDS */

.img-tablet {
    @media (min-width:  $tablet) and (max-width: $desktop) { 
        max-width: 60%;
        margin: 0 auto;
   }  
}

.bg-circle {
    left: -120px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: $brand-yellow;
    position: absolute;
    z-index: -1;
}


/* Animated section STARTS */

.img-sensor {
    width: 350px;
}

.img-sensor {
    @media (max-width:  $desktop) { 
      position: absolute;
      top: -120px;
      left: -60px;
      opacity: 0.3;
      z-index: -1;
   } 
}

.transp_man {
    width: 350px;
    position: absolute;
    top: 640px;
    left: 60%;
    z-index: -10;
}

.transp_man {
    @media  (min-width:  $tablet) and (max-width:  $desktop) { 
        position: absolute;
        left: 0;
        top: 300px;
        z-index: -10;
        opacity: 0.4;
    } 
}

.transp_man {
    @media (min-width: 450px) and (max-width:  $tablet) { 
        position: absolute;
        left: -50px;
        top: 400px;
        width: 70%;
        opacity: 0.3;
        z-index: -1;
    } 
}

.transp_man {
    @media (max-width: 450px) { 
        position: absolute;
        left: 0;
        top: 700px;
        width: 70%;
        opacity: 0.3;
        z-index: -1;
    } 
}

.colored_man {
    width: 350px;
    position: absolute;
    top: 640px;
    left: 60%;
}

.colored_man {
    @media  (min-width:  $tablet) and (max-width:  $desktop) { 
        position: absolute;
        left: 0;
        top: 300px;
        z-index: -1;
    } 
}

.colored_man {
    @media (min-width: 600px) and (max-width:  $tablet) { 
        position: absolute;
        left: 0;
        top: 300px;
        width: 70%;
        z-index: -1;
    } 
}


.colored_man {
    @media (max-width: 600px) { 
        position: absolute;
        left: 0;
        top: 400px;
        width: 70%;
        opacity: 0.3;
        z-index: -1;
    } 
}

.colored_man {
    @media (min-width: 450px) and (max-width: 600px) { 
        position: absolute;
        left: 0;
        top: 400px;
        width: 70%;
        opacity: 0.3;
        z-index: -1;
    } 
}

.colored_man {
    @media (max-width: 450px) { 
        position: absolute;
        left: 0;
        top: 700px;
        width: 70%;
        opacity: 0.3;
        z-index: -1;
    } 
}

.is-transparent-3 {
    @media (max-width:  $desktop) { 
        opacity: 0.2;
    }     
}
/* Animated section ENDS */

/* App screens section STARTS */

.multiSlide {
    height: 550px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-perspective: 700px;
}

.multiSlide {
    @media (min-width:  $desktop) { 
        width: 85%;
    }
}

.multiSlide {
    @media (min-width: 830px) and (max-width:  $desktop) { 
        width: 100%;
    }
}

.multiSlide {
    @media  (min-width: 630px) and (max-width: 830px) { 
        width: 130%;
        left: -50px;
    }
}

.multiSlide {
    @media (min-width: 550px) and (max-width: 630px) { 
        width: 130%;
        left: -100px;
    }
}

.multiSlide {
    @media (max-width: 550px) { 
        width: 218%;
        left: -260px;
    }
}

.box {
  //  margin: 0 auto;
    background: #fff;
    position: absolute;
    top: 0px;
    text-align: center;
    padding:0;
    width: 242px;
    height: 440px;
    box-shadow: 0px 4px 29px #BBC7D6;
    border-radius: 20px;
    -webkit-transition: all 500ms cubic-bezier(0.7,-0.9,0.3,1.4);
    -moz-transition: all 500ms cubic-bezier(0.7,-0.9,0.3,1.4);
    transition: all 500ms cubic-bezier(0.7,-0.9,0.3,1.4);
    opacity: 1;
}

.box[data-pos='12']{
    -webkit-transform: rotateY(-15deg);
    -webkit-transform-origin: right center;
    opacity: 0.8;
}
.box[data-pos='32']{
    -webkit-transform: rotateY(15deg);
    -webkit-transform-origin: left center;
    opacity: 0.8;
}

.box[data-pos='2-1'],
.box[data-pos='20'],
.box[data-pos='24'],
.box[data-pos='25'],
.box[data-pos='02'],
.box[data-pos='42'],
.box[data-pos='-12'],
.box[data-pos='52']{
    opacity: 0;
}
.box img {
    padding-top: 10px;
    width: 97%;
    height: 97%;
}

.multiSlideNav {
    max-width: 460px;
    height: 400px;
    position: absolute;    
    top: 100px;
    margin: 0 auto;
}

.multiSlideNav {
    @media (min-width: $desktop) {
        width: 400px;
        left: 263px;
    }
}

.multiSlideNav {
    @media (min-width: 830px) and (max-width: $desktop) {
        width: 400px;
        left: 191px;
    }
}

.multiSlideNav {
    @media (min-width: 630px) and (max-width: 830px) {
        left: 141px;
        width: 400px;
    }
}

.multiSlideNav {
    @media (min-width: 550px) and (max-width: 630px) {
        left: 92px;
        width: 400px;
    }
}

.multiSlideNav {
    @media (max-width: 550px) {
        left: -20px;
        width: 302px;
    }
}

.navButton {
    width: 50px;
    height: 350px;
    background: rgb(220, 220, 224);
    opacity: 0.4;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 3;
    font-size: 32px;
    padding: 150px 0;
}
.navButton:hover {
    background: $brand-yellow-hvr;
    color: rgb(255, 255, 255);
    opacity: 0.2;
}

.navButton#left {
   float: left;
   padding-right: 5px;
}
.navButton#right {
  float: right;
  padding-left: 5px;
}

/* App screens section ENDS */

// Page dividers & BG

.has-border-bottom {
    border-bottom: 4rem solid #F8B130;
}

.page__divider-home {
    background: $brand-yellow;
    padding-bottom: 10%;
}

.page__divider-app {
    background: $brand-red;
    padding-bottom: 10%;
}

.page__divider-footer {
    background: $brand-blue;
    padding-bottom: 10%;
}

.brand_yellow-bg {
    background: $brand-yellow;
}

// Buttons & hovers 
.primary--button {
    background: #F8B130;
    border-radius: 6px;
    color: $brand-blue;
    padding: 1rem 3rem;
}

.button--up {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $brand-yellow;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 5;
    text-align: center;
    padding-top: 20px;
    padding-left: 17px;
    cursor: pointer;
}

.button--up:hover {
    background-color: $brand-yellow-hvr;
}

.arrow--up {
    width: 15px;
    height: 15px;
    border-top: 3px white solid;
    border-right: 3px white solid;
    transform: rotate(-45deg);
}

.button--up {
    @media (min-width: 319px) and (max-width: 440px) {
        right: 150px;
    }    
}

.button--up {
    @media (min-width: 440px) and (max-width: 830px) {
        right: 200px;
    }    
}

.button:focus, .button.is-focused {
    border-color: $brand-yellow;
}

.button:hover {
    background-color: $brand-yellow-hvr;
}

a:hover {
    color: $brand-red;
}

.text-link  {
    color: $brand-yellow;
}

.text-link:hover  {
    color: $brand-red;
}

.make-grey {
    filter: gray;
    -webkit-filter: grayscale(1);
  }

  .make-grey:hover {
    filter: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 25px -3px rgba(0, 0, 0, 0.25);
}

  .img-links a:hover {
      filter: none;
  }
  
  .navbar-end a:hover {
    color: $brand-yellow;
}

// form

.input, .textarea {
    background-color: transparent;
    border-bottom: 2px solid $brand-blue;
    opacity: 0.5;
    border-radius: 0;
}

.input:focus, .input:active, .input:hover, .textarea:focus, .textarea:active, .textarea:hover   {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $brand-blue;
    border-radius: 0;
    opacity: 1;
}

.partners-mobile {
    @media screen and (min-width: 319px) and (max-width: 768px) {
        display: flex !important;        
    }
}

.partners-mobile .column {
    @media screen and (min-width: 319px) and (max-width: 768px) {
        padding: 48px 0 !important;        
    }
}