// brand colors

$brand-yellow: #F8B130;
$brand-blue: #032C4C;
$brand-red: #E74E18;
$brand-light: #EAEAEB;

// COLORS
$purple: #1eda2e;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EAEAED;

//text-colors
$title-color: #032C4C;
$text-main:   #032C4C;
$text-links:  #032C4C;

//buttons-colors
$primary-clr: #ff3d71;
$primary-hover: #fc1754;
$secondary-clr: #677FFF;
$secondary-hover: #e4bf07;

//bg-colors
$primaryClr-bg: #A0AEFF;
$secondaryClr-bg: #F6E486;
$lightClr-bg: #F2F5F8;
$primaryBg: #ffffff;
$formBg: #E9E9EF;

// FONTS
$headlines: 'Source Sans Pro', sans-serif;
$content-text: 'Source Sans Pro', sans-serif;

//breaking points
$breakpoint-tablet: 768px;

// Update Bulma's global variables

//text
$family-primary: $content-text;
$family-secondary: $headlines;
$link: $text-links;
$primary: $primary-clr;

//colors
$light: $lightClr-bg;
$body-background-color: $primaryBg;
$grey-lighter: $formBg;
$dark: $primaryClr-bg;

$grey-dark: $text-main;
$grey-light: $beige-light;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-focus-border-color: $primary-clr;

//gaps
$column-gap: 3rem;