@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
	
	<header>  
		<!--Menu-->
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			<a class="navbar-item" href="#home">
			  <img  src="../img/logo.png" >
			</a>
			<a role="button" class="navbar-burger burger navbar-burger-dark" aria-label="menu" aria-expanded="false" data-target="navMenu">
			  <span aria-hidden="true"></span>
			  <span aria-hidden="true"></span>
			  <span aria-hidden="true"></span>
			</a>
		  </div>
	  
		  <div id="navMenu" class="navbar-menu">
			<div class="navbar-end">
			  <a class="navbar-item toggle navbar-item-dark" href="index.html">
				Home
			  </a>
			  <a class="navbar-item navbar-item-dark toggle" href="index.html#form">
				About technology
			  </a>
			  <a class="navbar-item navbar-item-dark toggle" href="http://localhost:3002/index.html#partners">
				Partners
			  </a>
			  <a class="navbar-item navbar-item-dark toggle" href="contacts.html">
				Contacts
			  </a>
			</div>
		  </div>
		</nav>
	</header>

	<div id="page-body" class="page-body has-background-light">
		<section id="form" class="section is-bold mt-6 mt-mobile">
			<div class=".container.is-max-desktop mx-6">
				<div class="columns">
					<div class="column pl-0-tablet">						
						<h1 class="is-size-1 is-italic has-text-weight-bold">Schreiben<br> Sie uns!</h1>
					</div>

					<!-- Social value -->
					<div class="column is-half">						
                        
                        <div class="form">
                            <label class="label" for="name">Ihr Name</label>
                            <input class="input is-medium mb-6" type="text" id="name" name="name" placeholder="type your name">                              
                            
                            <label class="label" for="email">Ihre E-Mail-Adresse</label>
                            <input class="input is-medium mb-6" type="email" id="email" name="email" placeholder="your-email@example.com">                              
                            
                            <label class="label" for="subject">Betreff</label>
                            <input class="input is-medium mb-6" type="text" id="subject" name="subject" placeholder="what is it about"> 

                            <label class="label" for="message">Ihre Nachricht</label>
                            <input class="textarea is-medium mb-6" type="text" id="message" name="message" placeholder="leave your thoughts"> 

                            <label class="checkbox">
                                <input type="checkbox">
                                Ich bestätige hiermit, dass ich mit der Verarbeitung meiner Daten einverstanden bin*<br>
                                <span class="has-text-weight-light">
                                    *Hinweis zum Datenschutz: Die von Ihnen im Kontaktformular eingegebenen Daten wie Name, E-Mail, Betreff und Nachrichtentext speichern und verwenden wir zum Zwecke der individuellen Kommunikation und zur Bearbeitung Ihres Anliegens. Die Übermittlung der Daten zwischen Ihrem Browser und unserem Server erfolgt über eine verschlüsselte SSL-Verbindung. Hier geht es zu unserer Datenschutzerklärung.
                                </span>                       
                            </label>

                            <button class="button primary--button is-size-5 is-italic has-text-weight-bold mt-6" type="submit">Senden</button>

                        </div>
                                              
					</div>
				</div>								
			</div>
		</section>
	</div>

	@@include('../chunks/footer.html')
</div>

@@include('../chunks/scripts.html')
</body>
</html>
