@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
	<header>
		<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			<a class="navbar-item" href="index.html">
                <img  src="../img/logo.png" >
			</a>
		  </div>
		</nav>
	</header>

	<div id="page-body" class="page-body">
		<section id="home" class="section">
			<div class="container mt-6">
				<h1 class="title is-3 is-family-secondary pb-3 mb-6">Impressum</h1>
				<p class="content">				
					Die Fitbase Onlinekurse sind ein Service der Fitbase Institut für Online Prävention GmbH.
				</p><br>
				<p class="content">					
					Angaben gemäß § 5 TMG<br>
					Fitbase Institut für Online Prävention GmbH<br>
					Ruckteschellweg 8a, 22089 Hamburg<br>
					Geschäftsführer: Johannes Heering, Jens Pracht<br>
					Sitz der Gesellschaft: Hamburg<br>
					Amtsgericht Hamburg: HRB 145791<br>  
				</p><br>
				<p class="content">					
					USt-IdNr.: DE293560554<br><br>
					Telefon und Gesundheits-Hotline: 040 – 284762-33<br>
					Website:  <a target="_blank" href="https://fitbase.de/" class="text-link">www.fitbase.de</a><br>
					Email: <span class="text-link">info@fitbase.de</span><br>
				</p>
			</div>
		</section>			
	</div>

	@@include('../chunks/footer.html')
</div>

@@include('../chunks/scripts.html')
</body>
</html>