@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
	<header>
		<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			<a class="navbar-item" href="index.html">
                <img  src="../img/logo.png" >
			</a>
		  </div>
		</nav>
	</header>

	<div id="page-body" class="page-body">
		<section id="home" class="section">
			<div class="container mt-6">
				<h1 class="title is-3 is-family-secondary pb-3 mb-6">Impressum</h1>
				<p class="content">				
					Die Webseite <a href="www.pflege-ausgleich" class="text-link"> www.pflege-ausgleich</a> ist ein Objekt der Fitbase Institut für Online Prävention GmbH.
				</p><br>
				<p class="content">					
					Angaben gemäß § 5 TMG<br>
					Fitbase Institut für Online Prävention GmbH<br>
					Ruckteschellweg 8a, 22089 Hamburg<br>
					Geschäftsführer: Johannes Heering, Jens Pracht<br>
					Sitz der Gesellschaft: Hamburg<br><br>  
					Amtsgericht Hamburg: HRB 145791<br>  
				</p><br>
				<p class="content">			
					Telefon: 040 – 284762-33<br>
					Website:  <a target="_blank" href="https://fitbase.de/" class="text-link">www.fitbase.de</a><br>
					Email: <span class="text-link">info@fitbase.de</span><br><br>
					USt-IdNr.: DE293560554<br>
				</p>
				<p class="content">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</p>
				<p class="content">Das Redaktions-Team von Fitbase</p>
				<p class="content">
					Fitbase Institut für Online Prävention GmbH<br>
					Redaktion<br>
					Ruckteschellweg 8a<br>
					22089 Hamburg<br>
				</p>
				<p class="content">Kontaktdaten Datenschutzbeauftragter</p>
				<p class="content">intersoft consulting services AG – Katharina Schluckebier<br>
					Sie erreichen uns und unsere Datenschutzbeauftragte unter <span class="text-link">datenschutz@fitbase.de</span> .
				</p>
				
				<h1 class="title is-5 is-family-secondary my-4">Haftungsausschluss</h1>
				<h1 class="title is-6 is-family-secondary mb-3">Haftung für Inhalte</h1>
				<p class="content">Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
				<h1 class="title is-6 is-family-secondary mb-3">Haftung für Links</h1>
				<p class="content">Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
				
				<h1 class="title is-6 is-family-secondary mb-3">Urheberrecht</h1>
				<p class="content">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
				
				<h1 class="title is-6 is-family-secondary mb-3">Copyright</h1>
				<p class="content">©2020 Fitbase Institut für Online Prävention GmbH. Alle Rechte vorbehalten. Alle Texte, Bilder und Grafiken, sowie deren Gestaltung unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz geistigen Eigentums. Eine Reproduktion oder Wiedergabe auch von Teilen der Web-Seiten und ihrer Inhalte ist ohne die schriftliche Genehmigung der Fitbase Institut für Online Prävention GmbH nicht gestattet.</p>
				<br>
			</div>
		</section>			
	</div>

	@@include('../chunks/footer.html')
</div>

@@include('../chunks/scripts.html')
</body>
</html>