@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
	@@include('../chunks/header.html')

	<div id="page-body" class="page-body">
		<!--Home-->
		<section class="section">
			<div class="container mt-6">
				<div class="columns is-vcentered">
					<div class="column">
						<h1 class="title is-4 is-family-secondary">DiCiS — Digital Coaching<br>
							of individual stress management<br>
							skills for caregivers
						</h1>
						<p class="content">
							Care situations can be very stressful. Many nursing staff do not know methods of relaxation.
							For this reason the fitcor technology was developed, a health coaching for nursing staff.
						</p>
						<p class="content">
							The fitcor system consists of an <strong>app</strong> and
							a <strong>sensor</strong> that is worn on the body.
						</p>
						<button class="button is-primary">Contact us</button>
					</div>
					<div class="column">
						<figure class="image">
							<img src="../img/main-pic-withBg-blured.png">
						</figure>
					</div>
				</div>

			</div>
		</section>

		<!--Section work-->
		<section class="hero has-background-light is-bold">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title is-3 is-family-secondary">
						How does it work?
					</h1>
					<div class="columns has-text-left is-vcentered">
						<div class="column">
							<p class="is-primary">This sensor measures various values,
								for example breathing, the stress level or how much someone is moving.
								The app receives the values that the sensor measures. These values are displayed
								to users in the app.<br><br>This allows users to see how stressed they were on a day or how much they slept.
								The app guides you to different exercises to show users how the body e.g. responds
								to targeted breathing exercises.
							</p>
						</div>
						<div class="column">
							<figure class="image is-2by1">
								<img src="./img/app-sensor-ver2-2.svg">
							</figure>
						</div>
					</div>
					<div class="columns has-text-left is-vcentered">
						<div class="column">
							<figure class="image is-2by1">
								<img src="./img/app-abilities-ver2-2.svg">
							</figure>
						</div>
						<div class="column">
							<p class="is-primary">This sensor measures various values,
								for example breathing, the stress level or how much someone is moving.
								The app receives the values that the sensor measures. These values are displayed
								to users in the app.<br><br>This allows users to see how stressed they were on a day or how much they slept.
								The app guides you to different exercises to show users how the body e.g. responds
								to targeted breathing exercises.
							</p>
						</div>
					</div>
				</div>
				<!-- Example section -->
				<div class="container has-custom-shadow has-text-centered has-background-white is-white has-round-corners p-5 mt-6">
					<h1 class="title is-4 is-family-secondary mt-3">
						The following examples are intended to explain<br>the application of the technology:
					</h1>
					<div class="columns">
						<div class="column is-flex has-text-centered">
							<div class="notification is-white has-border-primary">
								<figure class="image pb-4 is-inline-block">
									<img src="./img/sensor-icons-sleep-svg.svg">
								</figure>
								<p>
									The measurement shows
									that a user sleeps too little and restlessly.
									With fitcor the user can learn methods
									to fall asleep better.
								</p>
							</div>
						</div>
						<div class="column is-flex has-text-centered">
							<div class="notification is-white has-border-primary">
								<figure class="image pb-4 is-inline-block">
									<img src="./img/sensor-icons-sleep-svg.svg">
								</figure>
								<p>
									The sensor indicates high level of stress in everyday care.
									The fitcor app explains what stress
									is and how it arises. The user can perform relaxation exercises with the app
									and see through the biofeedback that this can reduce stress.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container has-text-centered mt-6">
					<h1 class="title is-4">
						Introduction to the video
					</h1>
					<div class="videoWrapper">
						<iframe width="560" height="349" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
						</iframe>
					</div>				
				</div>
			</div>
		</section>

		<!--Phase section-->
		<section class="section">
			<div class="container">
				<div class="has-text-centered">
					<h1 class="title is-3 is-family-secondary mb-5">
						Running phases
					</h1>
				</div>
				<div class="has-text-left mb-5">
					<p>
						So that the fitcor technology can be integrated into the planned intervention in a meaningful
						and user-oriented manner, the process consists of different phases. In order to prepare the content
						of the intervention in an app-friendly and customizable manner, these phases consist of different modules,
						which in turn are composed of different elements.
					</p>
					<br>
					<p>
						These elements can contain variable media, such as texts, videos or audios. The modular
						structure allows a high degree of flexibility from a technical and conceptual point of view.
					</p>
				</div>

				<div class="tile is-ancestor">
					<div class="tile is-6 is-vertical is-parent">
					  <div class="tile is-child box">
						<div class="rows">
							<div class="row">									
								<div class="columns is-vcentered">
									<div class="column is-one-fifth">
										<figure class="image is-64x64">
											<img src="./img/phase-1.svg" alt="Image">
										</figure>
									</div>
									<div class="column">
										<p><strong>Preparation (3-7 days)</strong></p>
									</div>
								</div>										
							</div>
							<div class="row pt-3">
								<p>
									- Sensor ordering, onboarding <br>
									- Explanation of how sensor works, wearing instructions                    <br>
									- Fill out questionnaires <br>
									- Explanation of the intervention (process, content) <br>
									- Theoretical knowledge transfer: basics of stress <br> 									
								</p>
							</div>
						</div>
					  </div>

					  <div class="tile is-child box">
						<div class="rows">
							<div class="row">									
								<div class="columns is-vcentered">
									<div class="column is-one-fifth">
										<figure class="image is-64x64">
											<img src="./img/phase-3.svg" alt="Image">
										</figure>
									</div>
									<div class="column">
										<p><strong>Coaching (approx. 6 weeks)</strong></p>
									</div>
								</div>										
							</div>
							<div class="row pt-3">
								<p>
									- Compulsory modules for different user groups <br>
									- Modular structure with different topics for coping with stress <br>
									- Use of different media (text, audio, video, exercises, instructions for reflection, etc.) <br>
									- Individualized extension modules <br>
									- Orientation towards needs + selection according to personal interests <br> 									
								</p>
							</div>
						</div>	
					  </div>
					</div>

					<div class="tile is-6 is-vertical is-parent">
						<div class="tile is-child box">
							<div class="rows">
								<div class="row">									
									<div class="columns is-vcentered">
										<div class="column is-one-fifth">
											<figure class="image is-64x64">
												<img src="./img/phase-2.svg" alt="Image">
											</figure>
										</div>
										<div class="column">
											<p><strong>Measurement (7 days)</strong></p>
										</div>
									</div>										
								</div>
								<div class="row pt-3">
									<p>
										- Data measurement <br>
										- Daily breathing exercise (with biofeedback) <br>
										- Diary and daily report <br>		
										- Learning and experiencing the connections between stress and physique <br>		
										- Individual reference: How do I experience stress? What knowledge can I gain from observing physiological phenomena and experiences? <br>							
									</p>
								</div>
							</div>
						</div>

						<div class="tile is-child box">
							<div class="rows">
								<div class="row">									
									<div class="columns is-vcentered">
										<div class="column is-one-fifth">
											<figure class="image is-64x64">
												<img src="img/phase-4.svg" alt="Image">
											</figure>
										</div>
										<div class="column">
											<p><strong>Final (after the coaching phase)</strong></p>
										</div>
									</div>										
								</div>
								<div class="row pt-3">
									<p>
										- Summary and day-to-day integration <br>
										- Possibly follow-up measurement for before / after comparison									
									</p>
								</div>
							</div>
						</div>
					</div>
				  </div>
			</div>
		</section>
		
		<!--App section-->
		<section class="section hero has-background-light is-bold">
			<div class="container">
				<div class="has-text-centered">
					<h1 class="title is-3 is-family-secondary mb-5">
						Get personalized report in the app
					</h1>
				</div>
				<div class="has-text-centered mb-6">
					<p>
						Keep track of your activity, do daily excersizes recommended by the app and get weekly report
						based on your measurements. Successfully finish the programm to get overall result of your stress menagement, risk factors and so on...
					</p>
				</div>
				<div class="columns is-vcentered has-bg">
					<div class="column ml-6">
						<h1 class="title is-4 is-family-secondary mb-2">Functions of the app</h1>
						<p class="mb-4">
							Cool screens and explanations.
							<br>Here short explanation
						</p>
						<a>— Modules and exercises</a><br>
						<a>— Dashboard</a><br>
						<a>— Diary and library </a><br>
						<a>— Health data</a>
					</div>
					<div class="column">
						<img src="img/app_section-smPh-shadows.png" >
					</div>
				</div>
				<div class="columns is-vcentered has-bgTablet">
					<div class="ml-6 column">
						<img src="img/app_section-tablet-shadow.png" >
					</div>
					<div class="column ml-6">
						<h1 class="title is-4 is-family-secondary mb-2">Final report</h1>
						<p class="mb-4">
							Cool screens and explanations.
							<br>Here short explanation
						</p>
						<a>— <strong>4 divisions:</strong> sleep, psychological health,<br> physical activity, risk factors.</a><br>
						<a>— <strong>17 health parameters</strong> with traffic light colours</a><br>
					</div>
				</div>
			</div>
		</section>

		<!--Form section-->
		<div class="container mt-6 notification has-background-grey-lighter mb-6">
			<div class="has-text-centered mt-3">
				<h1 class="title is-4 is-family-secondary mb-5">
					Short message why or how contact
				</h1>
			</div>
			<div class="form ml-6 mr-6">
				<div class="columns mb-1">
					<div class="column">
						<div class="field">
							<label class="label is-family-secondary">Name</label>
							<div class="control">
								<input class="input" type="text" placeholder="Text input">
							</div>
						</div>
					</div>
					<div class="column">
						<div class="field">
							<label class="label is-family-secondary">E-Mail-Adresse</label>
							<div class="control">
								<input class="input" type="email" placeholder="Your Email">
							</div>
							<!--  <p class="help is-danger">This email is invalid</p> -->
						</div>
					</div>
				</div>
				<div class="field">
					<label class="label is-family-secondary">Betreff</label>
					<div class="control">
						<input class="input" type="text" placeholder="What is it about?">
					</div>
					<!--  <p class="help is-success">This username is available</p> -->
				</div>
				<div class="field">
					<label class="label is-family-secondary">Nachricht</label>
					<div class="control">
						<textarea class="textarea" placeholder="Leave your message here"></textarea>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<label class="checkbox">
							<input type="checkbox">
							Ich habe die Hinweise zum <a href="#">Datenschutz zur Kenntnis</a> genommen.*
						</label>
						<p class="is-size-7">* Hinweis zum Datenschutz: Die von Ihnen im Kontaktformular eingegebenen Daten wie Name, E-Mail,
							Betreff und Nachrichtentext speichern und verwenden wir zum Zwecke der individuellen Kommunikation und zur Bearbeitung
							Ihres Anliegens. Die Übermittlung der Daten zwischen Ihrem Browser und unserem Server
							erfolgt über eine verschlüsselte SSL-Verbindung. Hier geht es zu unserer Datenschutzerklärung.
						</p>
					</div>
				</div>
				<div class="field">
					<div class="control has-text-centered">
						<button class="button is-primary px-6">Senden</button>
					</div>
				</div>
			</div>
		</div>

		<!--Team section-->
		<section class="hero is-dark is-bold">
			<div class="container mt-6 mb-6">
				<div class="has-text-centered">
					<h1 class="title is-3 is-family-secondary mb-5 has-text-black">
						Team introduction
					</h1>
				</div>
				<div class="has-text-centered mb-6 has-text-black">
					<p>
						With or without description. Which is longer. And longer.<br>
						Maybe two or three lines long.
					</p>
				</div>

				<div class="columns">
					<!--Person card-->
					<div class="column is-one-third">
						<div class="box" style="height: 300px; ">
							<div class="columns is-vcentered">
								<div class="column is-one-quarter">
									<figure class="image is-64x64">
										<img src="img/heering.png" alt="Image">
									</figure>
								</div>
								<div class="column is-family-secondary">
									<p>
										<strong>Johannes Heering</strong>
										<br>The team role
									</p>
								</div>
							</div>
							<div class="columns px-4">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
									purus sit amet luctus venenatis, lectus magna
									fringilla urna, porttitor
								</p>
							</div>
						</div>
					</div>

					<!--Person card-->
					<div class="column is-one-third">
						<div class="box" style="height: 300px; ">
							<div class="columns is-vcentered">
								<div class="column is-one-quarter">
									<figure class="image is-64x64">
										<img src="img/woroschilow.png" alt="Image">
									</figure>
								</div>
								<div class="column is-family-secondary">
									<p>
										<strong>Alex  Woroschilow</strong>
										<br>The team role
									</p>
								</div>
							</div>
							<div class="columns px-4">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
									purus sit amet luctus venenatis, lectus magna
									fringilla urna, porttitor
								</p>
							</div>
						</div>
					</div>

					<!--Person card-->
					<div class="column is-one-third">
						<div class="box" style="height: 300px; ">
							<div class="columns is-vcentered">
								<div class="column is-one-quarter">
									<figure class="image is-64x64">
										<img src="img/kettouch.png" alt="Image">
									</figure>
								</div>
								<div class="column is-family-secondary">
									<p>
										<strong>Mohamed Kettouch</strong>
										<br>The team role
									</p>
								</div>
							</div>
							<div class="columns px-4">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
									purus sit amet luctus venenatis, lectus magna
									fringilla urna, porttitor
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="columns">
					<!--Person card-->
					<div class="column is-one-third">
						<div class="box" style="height: 300px; ">
							<div class="columns is-vcentered">
								<div class="column is-one-quarter">
									<figure class="image is-64x64">
										<img src="img/nina-wegener.png" alt="Image">
									</figure>
								</div>
								<div class="column is-family-secondary">
									<p>
										<strong>Nina Wegener</strong>
										<br>The team role
									</p>
								</div>
							</div>
							<div class="columns px-4">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
									purus sit amet luctus venenatis, lectus magna
									fringilla urna, porttitor
								</p>
							</div>
						</div>
					</div>

					<!--Person card-->
					<div class="column is-one-third">
						<div class="box" style="height: 300px; ">
							<div class="columns is-vcentered">
								<div class="column is-one-quarter">
									<figure class="image is-64x64">
										<img src="img/nixon.png" alt="Image">
									</figure>
								</div>
								<div class="column is-family-secondary">
									<p>
										<strong>Patricia Nixon</strong>
										<br>The team role
									</p>
								</div>
							</div>
							<div class="columns px-4">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
									purus sit amet luctus venenatis, lectus magna
									fringilla urna, porttitor
								</p>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>

	@@include('../chunks/footer.html')
</div>

@@include('../chunks/scripts.html')
</body>
</html>
