@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
	<header>
		<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			<a class="navbar-item" href="index.html">
                <img  src="../img/logo.png" >
			</a>
		  </div>
		</nav>
	</header>

	<div id="page-body" class="page-body">
		<section id="home" class="section">
			<div class="container mt-6">
				<h1 class="title is-3 is-family-secondary pb-3 mb-6">Ihre Teilnahme bei DiCiS</h1>
				<p class="content">				
					Das Projekt DiCiS wird durchgeführt von der Fitbase GmbH, Ruckteschellweg 8a, 22089 Hamburg (nachfolgend „fitbase“) und der corvolution GmbH, Zehntwiesenstraße 35 b, 76275 Ettlingen (nachfolgend „corvolution“). Die Teilnahme am Projekt DiCiS unterliegt den folgenden Teilnahmebedingungen. Lesen Sie diese aufmerksam durch, bevor Sie teilnehmen. Mit der Zustimmung zu den Teilnahmebedingungen erklären Sie sich mit diesen einverstanden. Bei Fragen zum Datenschutz lesen Sie bitte unsere Datenschutzerklärung. 
				</p><br>
				<p class="content">					
					Eine Teilnahme am Projekt DiCiS erfolgt auf eigene Gefahr. Eine Haftung von fitbase und corvolution für Folgen, die aus der Teilnahme am Projekt entstehen, besteht nicht. Das Projekt DiCiS dient der Prävention, also der Vorbeugung von Erkrankungen und Risikofaktoren. Es handelt sich nicht um online durchgeführte Therapien, Behandlungen oder Diagnostik. Das Projekt DiCiS kann eine ärztliche Behandlung oder Diagnostik nicht ersetzen. Der Inhalt kann und darf nicht als eine Aufforderung verstanden werden, eine Krankheit oder ein anderes Leiden selbst zu erkennen oder zu behandeln. 
				</p><br>
				<p class="content">					
					Die angebotenen Messungen erlauben lediglich orientierende und unverbindliche Rückschlüsse auf die Verhaltensmuster dessen, der die Messungen durchführt. Eine fachlich qualifizierte Diagnostik stellen sie in keinem Falle dar. Eine solche Diagnostik kann nur durch unmittelbare Befragung durch einen Fachmann erfolgen. Auch die Anregungen, die den jeweiligen Testergebnissen zugeordnet sind, sollen nicht als therapeutische Empfehlungen aufgefasst werden. 
				</p><br>
			</div>
		</section>		
	</div>

	@@include('../chunks/footer.html')
</div>

@@include('../chunks/scripts.html')
</body>
</html>