@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
	<header>
		<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			<a class="navbar-item" href="index.html">
                <img  src="../img/logo.png" >
			</a>
		  </div>
		</nav>
	</header>

	<div id="page-body" class="page-body">
		<section id="home" class="section">
			<div class="container mt-6">
				<h1 class="title is-3 is-family-secondary pb-3 mb-6">Ihre Teilnahme bei DiCiS</h1>
				<p class="content">				
					Die fitbase DiCiS werden angeboten von Fitbase GmbH, Ruckteschellweg 8a, 22089 Hamburg (nachfolgend „fitbase“). Die Teilnahme an fitbase DiCiSn unterliegt den folgenden Teilnahmebedingungen. Lesen Sie diese aufmerksam durch, bevor Sie die fitbase DiCiS nutzen. Mit der Zustimmung zu den Teilnahmebedingungen erklären Sie sich mit diesen einverstanden. Bei Fragen zum Datenschutz lesen Sie bitte unsere Datenschutzerklärung.
				</p><br>
				<p class="content">					
					Die Nutzung der DiCiS erfolgt auf eigene Gefahr. Eine Haftung von fitbase für Folgen, die aus der Nutzung der DiCiS entstehen, besteht nicht. Die DiCiS dienen der Prävention, also der Vorbeugung von Erkrankungen und Risikofaktoren. Es handelt sich nicht um online durchgeführte Therapien, Behandlungen oder Diagnostik. Die fitbase DiCiS können eine ärztliche Behandlung oder Diagnostik nicht ersetzen. Der Inhalt kann und darf nicht als eine Aufforderung verstanden werden,  eine Krankheit oder ein anderes Leiden selbst zu erkennen oder zu behandeln.  
				</p><br>
				<p class="content">					
					Die optional angebotenen Tests zur Erfassung des Stress- oder Fitnesslevels oder der Rückengesundheit erlauben lediglich orientierende und unverbindliche Rückschlüsse auf die Verhaltensmuster dessen, der die Tests durchführt. Eine fachlich qualifizierte Diagnostik stellen sie in keinem Falle dar. Eine solche Diagnostik kann nur durch unmittelbare Befragung durch einen Fachmann erfolgen. Auch die Anregungen, die den jeweiligen Testergebnissen zugeordnet sind, sollen nicht als therapeutische Empfehlungen aufgefasst werden.
				</p>
			</div>
		</section>		
	</div>

	@@include('../chunks/footer.html')
</div>

@@include('../chunks/scripts.html')
</body>
</html>